/* General CSS */
hr {
    width: 84vw;
}

/* Error CSS */
#naerror {
  padding: 0.5rem;
  font-size: 0.8rem;
}

@media only screen and (max-height: 400px) {
  #screenerror {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  #screenerror {
    display: block;
  }
}

/* Sidebar CSS */

.sidebar {
  width: 5.5vw;
}

.sidebarOptions {
  height: 17.5vh;
  margin-bottom: 1vh;
  padding-left: 1.3vw;
}

.sidebarOptions.sidebarBottom {
  height: 9vh;
  margin-bottom: 0;
}

.gTabsText {
  visibility: hidden;
}

#gtabs2 img, #gtabs3 img, #gtabs4 img {width: 2.8vw;}
#gtabs5 {bottom: 14vh; width: 4.2vw;}
#gtabs6 {bottom: 4vh; width: 4.2vw;}
#gtabs5 img, #gtabs6 img {width: 2.2vw; padding-left: 0.4vw;}

/* Header CSS */

.mainPage {
    width: 94.5vw;
}

.currentGame {
  font-size: 1.4vw;
}

.gameHeader {
  padding: 2vw 2.5vw 1vw;
}

.headerButtons {
  font-size: 1.2vw;
}

.headerButtonSelected {
  font-size: 1.2vw;
}

/* Body CSS */

#game-bg {
  width: 94.5vw;
  height: 87vh;
}

#game-title {
  margin-top: 28vh;
}

#gameSelection {
    width: 94.5vw;
}

.dropdownSelector {
  width: 25vw;
  margin-left: 3vw;
}

.playButton {
  width: 24.8vw;
  height: 5.6vw;
  left: 36%;
}

.username {
  font-size: 1.5vw;
}

/* Mods Menu CSS */

#mods {
    width: 94.5vw;
}

.modoption {
  width: 15vw;
}

.moddetails {
    font-size: 1.2vw;
}

.modtitle {
    font-size: 1.4vw;
}

/* FAQ Menu CSS */

#faq {
    width: 94.5vw;
}

/* Installations Menu CSS */

#installations {
    width: 94.5vw;
}

.installationOptions {
    height: 9vh;
    width: 84vw;
    font-size: 1.4vw;
}

/* Patch Notes Menu CSS */

#patchNotes {
    width: 94.5vw;
}

.patchnotes-title {
    font-size: 1.6vw;
}

.versionBox {
    width: 2vw;
    height: 2vw;
}

.patchnote {
    width: 16vw;
}

.notescreendetails {
    width: 85vw;
}

/* Dropdown Menu CSS */

.launcherVersion {
  font-size: 1.1vw;
}

.dropdownOptions {
  font-size: 1.4vw;
  width: 25.5vw;
  margin-left: 3vw;
}

.versionText {
  font-size: 1.4vw;
}